@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.logo-1 {
    box-sizing: border-box;
    background-color: red;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.logo-2 {
    box-sizing: border-box;
    background-color: orangered;
    border-radius: 50%; 
    width: 48px;
    height: 48px;
}
.logo-3 {
    color: white;
    background-color:orange;
    box-sizing: border-box;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 8px;
    font-weight: 900;
    font-style: italic;
}

.logo-1,
.logo-2,
.logo-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.header {
    background-color:crimson;
    padding: 12px 64px;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 12px;
}

.container {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
}

.content {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.content .text {
    margin-bottom: auto;
}
.slogan {
    color: white;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 12px;
}


body {
    font-family: 'Robot Mono', monospace;
    margin: auto;
    width: 640px;
}

ul {
    list-style:none;
    display: flex;
    font-size: 12px;
    margin: 0;
    padding: 0;
    gap: 12px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    font-family: 'Robot Mono', monospace;
    font-size: 12px;
    font-weight: bold;
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
    padding: 6px 12px;
    border-radius: 12px;
    margin-bottom: 8px;
}

#robbery {
    width: 200px;
    height: auto;
    border: 2px solid red;
}

/* TOP-CONTENT */

.content-top {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.content-top .text {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: crimson;
    margin-bottom: 16px;
}

.social-media {
    display: flex;
    text-align: center;
    justify-content: center;
}

.social-media .text {
    color:black;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    width: 108px;
}

.social-logo {
    height: 72px;
    width: auto;
}

.instagram,
.twitter,
.facebook {
    margin:16px;
}