@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Robot Mono', monospace;
    margin: auto;
    width: 640px;
}

.title {
    text-align: center;
    background-color: crimson;
    color: white;
    font-size: 18px;
    padding: 36px;
}

.text {
    margin-top:24px;
    line-height: 1.5;
}

.footer {
    text-align: center;
    background-color: crimson;
    color: white;
    padding: 16px;
    font-size: 8px;

    position: absolute;
    bottom:0;
    width: 640px;
}

a {
    text-decoration: none;
    color: rgb(206, 151, 62)
}